
.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mediacontrols {
  margin: 30px 4%;
  transition: 0.2s ease-in-out;
}

.mediacontrols:hover {
  transform: scale(0.95);
}

.disabled {
  filter: brightness(60%);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ffffff70;
  opacity: 0.6;
  border-radius: 14px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 14px;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 14px;
}

.cover {
  border-radius: 20px;
  filter: drop-shadow(0 0 80px #000000aa);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #00000099;
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.2s;
}

.sidebar a {
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 75px;
}

.sidebar .queueitem {
  color: #fff;
  background-color: #1c1c1c;
  opacity: 80%;
  display: flex;
  overflow: hidden;
  text-align: left;
  border-radius: 5px;
  white-space: pre-line;
}

.sidebar .queueitem img {
  width: 55px;
  border-radius: 6px;
  margin-right: 10px;
}