html {
  overflow: overlay;
  background-color: #0A0A0A
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000000;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #afafaf60;
  border-radius: 2px;
}
* {
  scroll-behavior: smooth;
}

.navbar.is-black {
  background-color: #00000000;
}
.navbar.is-spaced .navbar-link, .navbar.is-spaced a.navbar-item {
  color: white;
  filter: drop-shadow(0 0 2rem black);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 5px;
}
.navbar.is-spaced a.navbar-item:hover {
  background-color: #0A0A0A;
}

a, button, .is-parent {
  transition: 300ms;
}

.is-parent:hover {
  transform: translateY(-10px);
}

.floating {
  animation: float 6s ease-in-out infinite;
}

@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
  a, button, .is-parent { transition: 0ms; }
  .floating { animation: none; }
}

.header {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  z-index: 0;
}

.waves {
  position: relative;
  width: 100%;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.menu {
  position: fixed;
  z-index: 1;
}

.menu-list a:hover {
  background-color: #222;
  border-radius: 5px;
}

.dropdown-menu > *, .dropdown-item {
  border-color: #363636;
  background-color: #0a0a0a;
  color: #dbdbdb;
}

.box {
  border-radius: 10px;
  background-color: #222;
  color: #fff;
}

.tags-input, .input, .select select, .textarea {
  border-color: #363636;
  background-color: #0a0a0a;
  color: #dbdbdb;
}

.input::placeholder, .textarea::placeholder {
  color: #ffffff60;
}

.feather {
  margin-right: 10px;
  vertical-align: middle;
}

.notification, #ip {
  border-radius: 10px;
  background-color: #4e834e;
  color: #fff;
}

#notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 35;
}

.portrait-only { display: none; }
@media screen and (max-width: 1023px) {
  .menu { position: static; }
  .portrait-only { display: flex; }
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .navbar-menu {
    background-color: #22222280;
    margin: 10px;
    border-radius: 10px;
  }
  #notifications > .notification {
    margin: 0;
    padding: 16px;
    font-size: 12px;
  }
}

@keyframes move-forever {
  0% { transform: translate3d(-90px, 0, 0); }
  100% { transform: translate3d(85px, 0, 0); }
}

@keyframes float {
  0% { transform: translatey(0px); }
  50% { transform: translatey(-20px); }
  100% { transform: translatey(0px); }
}

.anchor {
  display: block;
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
}

.modal-card-head, .modal-card-title, .modal-card-foot { background-color: #222; }
.modal-card-body {
  background-color: #111;
  height: 50vh
}
.modal-card-head, .modal-card-title, .modal-card-body, .modal-card-foot {
  border: none;
  color: white;
}

.tag:not(body).is-rounded {
  border-radius: 4px;
  border-color: #363636;
  background-color: #222;
  color: white;
}

a.dropdown-item:hover, button.dropdown-item:hover {
  background-color: #222;
  color: white;
}