con:
  token: '' # Discord bot token
# websocket: # Music dashboard websocket port
# vote:
#   webhook: # webhook port
#   auth: # webhook auth (from vote site)

mysql: # MySQL database credentials
  host: ''
  user: ''
  password: ''
  database: ''

music:
  lastfm: '' # last.fm api key
  nodes:
    - host: '' # lavalink node host ip
      port: 2333
      password: ''
      identifier: '' # lavalink node name
      retryAmount: 3
      retryDelay: 5000
      secure: false