<%- include("partials/header", { colors, bot, user, path, title: `Invite ${bot.user.username}!` }) %>

<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Invite Cactie!
      </p>
      <br>
      <p class="subtitle">
        The main stable Cactie Bot
      </p>
      <br>
      <a class="button is-success is-outlined is-rounded" href="https://cactie.smhsmh.club/invite/discord">Invite Cactie!</a>
      <br><br><br><br>
      <p class="title">
        Invite Cactie Dev!
      </p>
      <br>
      <p class="subtitle">
        The secondary latest Cactie Bot
      </p>
      <br>
      <a class="button is-warning is-outlined is-rounded" href="https://cactiedev.smhsmh.club/invite/discord">Invite Cactie Dev!</a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>