<%- include("partials/header", { colors, bot, user, path, title: "Privacy Policy & TOS" }) %>

<section class="hero is-fullheight is-black">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        Privacy Policy / Terms of Use
      </p>
      <p class="menu-label">
        As of June 27th, 2022.
      </p>
      <p class="subtitle">
        By using Cactie's services in any form:<br>
        you agree to the following privacy policy / terms of use<br>
        and the storage of necessary functional data.
      </p>
      <p class="subtitle">
        1. The information that is stored
      </p>
      <p>
        - Your Guild's Id for guild-specific data such as settings<br>
        - UserId for punishments and vote data<br>
        - MessageId for reaction roles (only messages with reaction roles)<br>
        - All information set in your guild's settings are stored
      </p>
      <br>
      <p class="subtitle">
        2. Why this information is stored and how its used
      </p>
      <p>
        - guildId to keep track of which settings are for which guild<br>
        - userId if you have been banned/muted from a guild by <%= bot.user.username %>, it gets deleted afterwards.<br>
        - userId if you have voted to make sure you are able to use certain features that you can only use after voting.<br>
        - messageId of reaction role messages for the bot to match the reactions associated message.<br>
        - All information set in your guild-specific data will be deleted if <%= bot.user.username %> gets removed from the guild.
      </p>
      <br>
      <p class="subtitle">
        3. Who gets this stored data?
      </p>
      <p>
        - Settings data is available to administrators of your guild through the settings command.
        - Reaction role data is available to administrators of your guild through the reactionroles command.
      </p>
      <br>
      <p class="subtitle">
        4. What else?
      </p>
      <p>
        - The developer may at times join any server Cactie is in for any good reason (usually for testing purposes or if there's a server-specific error), the invite link is not shared with anyone else and will leave the server afterwards. (This rarely happens)
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer") %>